.index-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: #333;
    color: white;
}

.index-header img {
    width: 100px
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0;
}

.navigation-bar nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navigation-bar a {
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.about-us {
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.shop-now-button {
    background-color: #4caf50;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: white;
}

.customer-reviews {
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}

.index-footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}

.contact-information {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.contact-method {
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.contact-method a:hover {
    color: #007BFF;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    background-color: #ddd; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.login-form {
    padding: 40px;
    border-radius: 10px;
    width: 300px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    opacity: 0.5;
}

.login-form button:hover {
    background-color: #45A049;
    opacity: 1;
}

.signup-link {
    color: #007BFF;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.signup-link:hover {
    text-decoration: underline;
}

.message-box {
    border: 2px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
    display: none;
}


.product-container {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.product-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    flex-basis: calc(50% - 40px); 
    box-sizing: border-box;
}

.product-item:hover {
    background-color: #ffffff;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


.product-item p {
    color: #007BFF;
    font-weight: bold;
}

.product-item button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #45A049;
}

.cart-container {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

.cart-display {
    margin-top: 20px;
    border: none;
    padding: 10px;
}

.cart-item {
    margin-bottom: 10px;
}

.remove {
    background-color: #4CAF50;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove:hover {
    background-color: #ff0000;
}

.signup-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

.signup-form {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content; /* Adjusts width to content */
}

.signup-form label {
    display: block;
    margin: 10px 0;
}

.signup-form input {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 20px); /* Full width minus padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.signup-form button {
    background-color: #4CAF50;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: calc(100% - 20px);
    opacity: 0.5;
    cursor: pointer;
    box-sizing: border-box;
    
}

.signup-form button:hover {
    background-color: #45A049;
    opacity: 1.0;
}

#message-box {
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px auto; /* Centers the message box */
    text-align: center;
    width: fit-content; /* Adjusts width to the content within */
    display: none; /* Start with the box hidden */
}